USE [master]
GO
/****** Object:  Database [ENSAT_TANGER]    Script Date: 15/03/2023 15:59:17 ******/
CREATE DATABASE [ENSA_TANGER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ENSAT_TANGER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ENSAT_TANGER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ENSAT_TANGER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ENSAT_TANGER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ENSAT_TANGER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ENSAT_TANGER]
GO
/****** Object:  Table [dbo].[Eleve]    Script Date: 15/03/2023 15:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eleve](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[nom] [varchar](255) NULL,
	[prenom] [varchar](255) NULL,
	[niveau] [varchar](255) NULL,
	[code_fil] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filiere]    Script Date: 15/03/2023 15:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filiere](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[designation] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matiere]    Script Date: 15/03/2023 15:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matiere](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[designation] [varchar](255) NULL,
	[VH] [float] NULL,
	[code_module] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 15/03/2023 15:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[designation] [varchar](255) NULL,
	[niveau] [varchar](255) NULL,
	[semestre] [varchar](255) NULL,
	[code_fil] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moyennes]    Script Date: 15/03/2023 15:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moyennes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code_eleve] [varchar](255) NULL,
	[code_fil] [varchar](255) NULL,
	[niveau] [varchar](255) NULL,
	[moyenne] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 15/03/2023 15:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code_eleve] [varchar](255) NULL,
	[code_mat] [varchar](255) NULL,
	[note] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Eleve] ON 

INSERT [dbo].[Eleve] ([id], [code], [nom], [prenom], [niveau], [code_fil]) VALUES (1, N'LF54111', N'ERGHOUT', N'Mouad', N'GINF1', N'GINF')
INSERT [dbo].[Eleve] ([id], [code], [nom], [prenom], [niveau], [code_fil]) VALUES (2, N'LF55111', N'BOULOUQAT', N'Jawad', N'GINF1', N'GINF')
INSERT [dbo].[Eleve] ([id], [code], [nom], [prenom], [niveau], [code_fil]) VALUES (3, N'LF56111', N'HASHGUER', N'Mohamed', N'GINF2', N'GINF')
SET IDENTITY_INSERT [dbo].[Eleve] OFF
GO
SET IDENTITY_INSERT [dbo].[Filiere] ON 

INSERT [dbo].[Filiere] ([id], [code], [designation]) VALUES (1, N'GINF', N'genie informatique')
INSERT [dbo].[Filiere] ([id], [code], [designation]) VALUES (2, N'GSTR', N'genie systeme de telecommunication et reseaux')
SET IDENTITY_INSERT [dbo].[Filiere] OFF
GO
SET IDENTITY_INSERT [dbo].[Matiere] ON 

INSERT [dbo].[Matiere] ([id], [code], [designation], [VH], [code_module]) VALUES (1, N'GINF111', N'Programmation C1', 12, N'GINF11')
INSERT [dbo].[Matiere] ([id], [code], [designation], [VH], [code_module]) VALUES (2, N'GINF112', N'Programmation C2', 12, N'GINF11')
INSERT [dbo].[Matiere] ([id], [code], [designation], [VH], [code_module]) VALUES (3, N'GINF121', N'BD1', 12, N'GINF12')
SET IDENTITY_INSERT [dbo].[Matiere] OFF
GO
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([id], [code], [designation], [niveau], [semestre], [code_fil]) VALUES (1, N'GINF11', N'Programmation C', N'GINF1', N'S1', N'GINF')
INSERT [dbo].[Module] ([id], [code], [designation], [niveau], [semestre], [code_fil]) VALUES (2, N'GINF12', N'Base de données', N'GINF1', N'S1', N'GINF')
INSERT [dbo].[Module] ([id], [code], [designation], [niveau], [semestre], [code_fil]) VALUES (3, N'GINF31', N'Java', N'GINF2', N'S3', N'GINF')
SET IDENTITY_INSERT [dbo].[Module] OFF
GO
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([id], [code_eleve], [code_mat], [note]) VALUES (1, N'LF54111', N'GINF111', 12)
INSERT [dbo].[Notes] ([id], [code_eleve], [code_mat], [note]) VALUES (2, N'LF54111', N'GINF112', 13)
INSERT [dbo].[Notes] ([id], [code_eleve], [code_mat], [note]) VALUES (3, N'LF54111', N'GINF121', 14)
SET IDENTITY_INSERT [dbo].[Notes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Eleve__357D4CF9B4D6BAFC]    Script Date: 15/03/2023 15:59:18 ******/
ALTER TABLE [dbo].[Eleve] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Filiere__357D4CF9B055947E]    Script Date: 15/03/2023 15:59:18 ******/
ALTER TABLE [dbo].[Filiere] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Matiere__357D4CF94B2A6C75]    Script Date: 15/03/2023 15:59:18 ******/
ALTER TABLE [dbo].[Matiere] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Module__357D4CF9FA288644]    Script Date: 15/03/2023 15:59:18 ******/
ALTER TABLE [dbo].[Module] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Eleve]  WITH CHECK ADD FOREIGN KEY([code_fil])
REFERENCES [dbo].[Filiere] ([code])
GO
ALTER TABLE [dbo].[Matiere]  WITH CHECK ADD FOREIGN KEY([code_module])
REFERENCES [dbo].[Module] ([code])
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD FOREIGN KEY([code_fil])
REFERENCES [dbo].[Filiere] ([code])
GO
ALTER TABLE [dbo].[Moyennes]  WITH CHECK ADD FOREIGN KEY([code_eleve])
REFERENCES [dbo].[Eleve] ([code])
GO
ALTER TABLE [dbo].[Moyennes]  WITH CHECK ADD FOREIGN KEY([code_fil])
REFERENCES [dbo].[Filiere] ([code])
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD FOREIGN KEY([code_eleve])
REFERENCES [dbo].[Eleve] ([code])
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD FOREIGN KEY([code_mat])
REFERENCES [dbo].[Matiere] ([code])
GO
USE [master]
GO
